SECRET_KEY=naPUaweojewaTOaoerbgiaaELasbvieraQUEaubgvaLOasiurbnvqiuaLEAaerbguiwevniawuvbnaerw
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DB_ENGINE=django.db.backends.mysql
DB_NAME=elnobredelaDB
DB_USER=tuusuario
DB_PASSWORD=tucontrasena
DB_HOST=localhost
DB_PORT=3306